.btn {
    color: #5C7363;
    border-color: #5C7363;
}

.btn:hover {
    color: white;
    background-color:#5C7363;
    border: #5C7363;
}

p{
    line-height: 2rem;
    width: 100%;
}

.navbar-brand {
    font-size: 2rem;
}

.navbar {
    font-size: 1rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: .75rem;
}

.form-group {
    padding: 1rem;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #5C7363;
}

.container {
    margin-bottom: 2rem;
}

.portfoliotxt {
    position: absolute;
    bottom: 10%;
    text-align: center;
    background-color: white;
    width: 92%;
}
.portfolioclick:hover {
    opacity: .2;
}

.portfolioimg {
    padding-bottom: 2rem;
}

.indextxt {
    margin-top: 2rem;
}

img {
    width: 100%;
}

form {
    max-width: 100%;
}



@media screen and (max-width: 767px) {
    .portfoliotxt {
        width: 100%;
    }
}